*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101622;
    color: white;
    font-family: Inter, system-ui ,Arial, sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}