* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b1220;
  color: white;
  font-family: Inter, system-ui, Arial, sans-serif;
}

.container {
  /*max-width: 900px;*/
  margin: auto;
  padding: 24px;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: normal;
}

p {
  margin: 0;
}

.title {
  margin-bottom: 20px;
}

.white-text{
  color: white;
}

.blue-text {
  color: blue;
}
.status {
  color: #9ca3af;
  margin-bottom: 12px;
}

.error {
  color: #ef4444;
  margin-bottom: 12px;
}

.grid-layout{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 30px;
}

.navbar {
  position: sticky;
  top: 0;
  
 
  background-color: #0b1220;
  border-bottom: 1px solid #1f2937;
 
}

.navbar-inner {
  
  margin: 0 auto;
  padding: 12px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-left{
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-item {

  text-decoration: none;
  color: #64748B;
  font-weight: 600;
  font: poppins, system-ui, Arial, sans-serif; 
}

.nav-item:hover {
  color: blue;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-start;
}

.nav-actions {
  display: flex;
  gap: 20px;
 /* justify-content: flex-end;*/
  align-items: center;
}

.search-container input {
  width: 240px;
  background: #161b22;
  border: 1px solid #30363d;
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  outline: none;
}
.profile-avatar {
  width: 36px;
  height: 36px;
  background: blue;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* ✅ Card Styles */

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-header img {
  width: 40px;
  height: 40px;
}

.crypto-body {
  display: flex;
  gap: 12px;
  align-items: center;
}

.card-body {
  display: flex;
  gap: 12px;
  align-items: center;
}

.symbol {
  color: #9ca3af;
  font-size: 14px;
}

.price {
  font-weight: bold;
}

.change.positive {
  color: #22c55e;
}

.change.negative {
  color: #ef4444;
}